# Sistema
Thumbs.db
Desktop.ini
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo

# Dependencias (por si a futuro usás npm)
node_modules/

# Archivos comprimidos / backups
*.zip
*.rar
*.7z

# Logs
*.log
